.fon{
    /* NLS_Haig_-_Troops_moving_up_at_eventide_-_men_of_a_Yorkshire_regiment_on_the_march-800x607 1 */

    position: absolute;
    width: 100%;
    height: 666px;
    left: 0px;
    top: 0px;


}
.txt1{
    /* Как всё начиналось? */

    position: absolute;
    width: 850px;
    height: 82px;
    left: 640px;
    top: 475px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 82px;
    /* identical to box height */
    text-transform: uppercase;

    color: #FFFFFF;


}
.txt2{
    /* 22 июня 1941 года. 4 часа 15 минут ... */

    position: absolute;
    width: 357px;
    height: 21px;
    left: 997px;
    top: 567px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    text-transform: uppercase;

    color: #FFFFFF;
}
.txt3{
    /* 22 июня 1941 года. 4 часа 15 минут. Противник подверг массированному артобстрелу военные и гражданские объекты, места дислокации советских воинских частей в приграничной полосе. Воздушным налетам подверглись 26 аэродромов Западного, 23 — Киевского, 11 — Прибалтийского особых военных округов и 6 аэродромов Одесского военного округа... */

    position: absolute;
    width: 1118px;
    height: 165px;
    left: 161px;
    top: 748px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-align: justify;

    color: #000000;


}
.txt4{
    /* Войска первого эшелона Западного фронта, принявшие на себя удар германских армий группы «Центр», буквально в первые дни оказались в катастрофическом положении. Несмотря на героические усилия бойцов и командиров, начало боевых действий сложилось для наших войск крайне неблагоприятно. Соединения 3–й, 10–й и 4–й армий, прикрывавшие границу, не смогли создать сплошного фронта, организовать устойчивую оборону. Бои на линии укрепленных районов носили в значительной мере очаговый характер. Многим частям с самого начала пришлось драться в окружении. Внезапные удары вражеской авиации нарушили связь, затруднили управление войсками... */

    position: absolute;
    width: 1118px;
    height: 330px;
    left: 161px;
    top: 952px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 28px;
    line-height: 33px;
    text-align: justify;

    color: #000000;


}
.txt5{
    /* Предваряя вторжение, уже с 15 июня на территорию Западного Особого военного округа начали проникать разведывательные и диверсионные группы вермахта. */

    position: absolute;
    width: 1118px;
    height: 66px;
    left: 161px;
    top: 1321px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-align: justify;

    color: #000000;


}
.txt6{
    /* Агенты противника, экипированные в форму военнослужащих РККА, хорошо владеющие русским языком, должны были с началом боевых действий разрушать коммуникации, сеять панику, уничтожать объекты жизнеобеспечения, провоцировать беспорядки. И в ряде случаев им это удалось. Одна из диверсионных групп — «Першы штурмовы звяз» — состояла преимущественно из жителей Западной Белоруссии, бывших граждан Польши (в конце лета 1941–го это подразделение было расформировано, а личный состав влился в Минскую городскую полицию порядка). Диверсанты из «звяза», которым командовал бывший подхорунжий Войска Польского В.Качан, прошли подготовку в элитном полку «Бранденбург–800». Первая группа парашютистов из состава «Першага штурмовага звяза» — всего 41 человек в форме РККА — была сброшена на советскую территорию 18 июня в районе города Сувалки для совершения диверсий на железнодорожной ветке Столбцы — Барановичи. Большую часть группы ликвидировали сотрудники госбезопасности, по всей видимости, совместно с военными или пограничниками. Вторая группа десантировалась в ночь с 21 на 22 июня к западу от Минска, успешно провела диверсию на железной дороге и выступила навстречу немецким войскам. В ночь на 22 июня немецкие диверсанты проникли на советскую территорию и вступили в бой с пограничниками 17–го Брестского погранотряда. Другие диверсионные группы парализовали деятельность штаба ЗапОВО, вырезав десятки метров проводов и лишив командование округа связи с войсками. За 10 минут до начала артиллерийской подготовки германский спецназ захватил все 6 мостов через Буг и обеспечил беспрепятственное продвижение частей 12–го армейского корпуса немцев к Бресту. Четыре танковые дивизии 2–й танковой группы генерала Гудериана двинулись в обход города с севера и юга. С начала войны широкое использование получила практика выброски воздушных десантов с целью захвата и удержания важных объектов и рубежей. */

    position: absolute;
    width: 1118px;
    height: 500px;
    left: 161px;
    top: 1440px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 28px;
    line-height: 33px;
    text-align: justify;

    color: #000000;


}
.txt7{
    position: absolute;
    width: 1118px;
    height: 500px;
    left: 161px;
    top: 1990px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 28px;
    line-height: 33px;
    text-align: justify;

    color: #000000;
}
.txt8{
    position: absolute;
    width: 1118px;
    height: 500px;
    left: 161px;
    top: 2090px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 28px;
    line-height: 33px;
    text-align: justify;

    color: #000000;
}
.bejenci{
    /* Bezjenci-sovrtskie 1 */

    position: absolute;
    width: 835px;
    height: 295px;
    left: 293px;
    top: 2362px;


}
.txt9{
    /* Советские беженцы */

    position: absolute;
    width: 240px;
    height: 28px;
    left: 965px;
    top: 2660px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: justify;
    text-transform: lowercase;

    color: #000000;


}
.txt10{
    /* Для борьбы с парашютистами и диверсантами потребовались дополнительные силы и средства. Уже на второй день войны, 23 июня, ЦК КП(б)Б принял директиву «О борьбе с вражескими парашютными десантами». Директива предписывала взятие под охрану всех важнейших сооружений, мостов, предприятий, железных дорог, линий связи, телефонных и телеграфных станций, требовала организовать наблюдение и информирование командования воинских частей о появлении парашютистов и диверсантов противника. Разумеется, никакой вооруженной силы у руководителей обкомов, райкомов и райисполкомов, кому была адресована директива, не было. Группы наблюдателей предстояло создавать, что называется, с нуля из числа местных активистов. В случаях, не терпящих отлагательства, следовало принимать меры к уничтожению врага собственными силами, используя охотничье и холодное оружие, пригодные для этих целей орудия труда (топоры, вилы и т.п.). 24 июня вышло постановление Совета Народных Комиссаров СССР «О мероприятиях по борьбе с парашютными десантами и диверсантами противника в прифронтовой полосе». Органам Народного комиссариата внутренних дел поручалось создание истребительных батальонов численностью 100 — 200 человек. Таким образом, к 25 июня было законодательно оформлено создание новых военизированных иррегулярных формирований, предназначенных для борьбы с вражескими десантами и диверсионными группами. 6 июля 1941 года СНК БССР и ЦК КП(б)Б приняли постановление «Об организации отрядов народного ополчения», которым в том числе предписывалась борьба с вражескими десантами и диверсионными группами, а в случае оккупации территории им следовало переходить к партизанским методам. */

    position: absolute;
    width: 1125px;
    height: 891px;
    left: 148px;
    top: 2750px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 28px;
    line-height: 33px;
    text-align: justify;

    color: #000000;


}
.txt11{
    /* Для борьбы с парашютистами и диверсантами потребовались дополнительные силы и средства. Уже на второй день войны, 23 июня, ЦК КП(б)Б принял директиву «О борьбе с вражескими парашютными десантами». Директива предписывала взятие под охрану всех важнейших сооружений, мостов, предприятий, железных дорог, линий связи, телефонных и телеграфных станций, требовала организовать наблюдение и информирование командования воинских частей о появлении парашютистов и диверсантов противника. Разумеется, никакой вооруженной силы у руководителей обкомов, райкомов и райисполкомов, кому была адресована директива, не было. Группы наблюдателей предстояло создавать, что называется, с нуля из числа местных активистов. В случаях, не терпящих отлагательства, следовало принимать меры к уничтожению врага собственными силами, используя охотничье и холодное оружие, пригодные для этих целей орудия труда (топоры, вилы и т.п.). 24 июня вышло постановление Совета Народных Комиссаров СССР «О мероприятиях по борьбе с парашютными десантами и диверсантами противника в прифронтовой полосе». Органам Народного комиссариата внутренних дел поручалось создание истребительных батальонов численностью 100 — 200 человек. Таким образом, к 25 июня было законодательно оформлено создание новых военизированных иррегулярных формирований, предназначенных для борьбы с вражескими десантами и диверсионными группами. 6 июля 1941 года СНК БССР и ЦК КП(б)Б приняли постановление «Об организации отрядов народного ополчения», которым в том числе предписывалась борьба с вражескими десантами и диверсионными группами, а в случае оккупации территории им следовало переходить к партизанским методам. */

    position: absolute;
    width: 1125px;
    height: 891px;
    left: 148px;
    top: 2990px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 28px;
    line-height: 33px;
    text-align: justify;

    color: #000000;


}
.txt12{
    /* Для борьбы с парашютистами и диверсантами потребовались дополнительные силы и средства. Уже на второй день войны, 23 июня, ЦК КП(б)Б принял директиву «О борьбе с вражескими парашютными десантами». Директива предписывала взятие под охрану всех важнейших сооружений, мостов, предприятий, железных дорог, линий связи, телефонных и телеграфных станций, требовала организовать наблюдение и информирование командования воинских частей о появлении парашютистов и диверсантов противника. Разумеется, никакой вооруженной силы у руководителей обкомов, райкомов и райисполкомов, кому была адресована директива, не было. Группы наблюдателей предстояло создавать, что называется, с нуля из числа местных активистов. В случаях, не терпящих отлагательства, следовало принимать меры к уничтожению врага собственными силами, используя охотничье и холодное оружие, пригодные для этих целей орудия труда (топоры, вилы и т.п.). 24 июня вышло постановление Совета Народных Комиссаров СССР «О мероприятиях по борьбе с парашютными десантами и диверсантами противника в прифронтовой полосе». Органам Народного комиссариата внутренних дел поручалось создание истребительных батальонов численностью 100 — 200 человек. Таким образом, к 25 июня было законодательно оформлено создание новых военизированных иррегулярных формирований, предназначенных для борьбы с вражескими десантами и диверсионными группами. 6 июля 1941 года СНК БССР и ЦК КП(б)Б приняли постановление «Об организации отрядов народного ополчения», которым в том числе предписывалась борьба с вражескими десантами и диверсионными группами, а в случае оккупации территории им следовало переходить к партизанским методам. */

    position: absolute;
    width: 1125px;
    height: 891px;
    left: 148px;
    top: 3250px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 28px;
    line-height: 33px;
    text-align: justify;

    color: #000000;


}
.txt13{
    /* Для борьбы с парашютистами и диверсантами потребовались дополнительные силы и средства. Уже на второй день войны, 23 июня, ЦК КП(б)Б принял директиву «О борьбе с вражескими парашютными десантами». Директива предписывала взятие под охрану всех важнейших сооружений, мостов, предприятий, железных дорог, линий связи, телефонных и телеграфных станций, требовала организовать наблюдение и информирование командования воинских частей о появлении парашютистов и диверсантов противника. Разумеется, никакой вооруженной силы у руководителей обкомов, райкомов и райисполкомов, кому была адресована директива, не было. Группы наблюдателей предстояло создавать, что называется, с нуля из числа местных активистов. В случаях, не терпящих отлагательства, следовало принимать меры к уничтожению врага собственными силами, используя охотничье и холодное оружие, пригодные для этих целей орудия труда (топоры, вилы и т.п.). 24 июня вышло постановление Совета Народных Комиссаров СССР «О мероприятиях по борьбе с парашютными десантами и диверсантами противника в прифронтовой полосе». Органам Народного комиссариата внутренних дел поручалось создание истребительных батальонов численностью 100 — 200 человек. Таким образом, к 25 июня было законодательно оформлено создание новых военизированных иррегулярных формирований, предназначенных для борьбы с вражескими десантами и диверсионными группами. 6 июля 1941 года СНК БССР и ЦК КП(б)Б приняли постановление «Об организации отрядов народного ополчения», которым в том числе предписывалась борьба с вражескими десантами и диверсионными группами, а в случае оккупации территории им следовало переходить к партизанским методам. */

    position: absolute;
    width: 1125px;
    height: 891px;
    left: 148px;
    top: 3480px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200;
    font-size: 28px;
    line-height: 33px;
    text-align: justify;

    color: #000000;


}
.container{
    /* Rectangle 1 */

    position: absolute;
    width: 100%;
    height: 1721px;
    left: 0px;
    top: 3771px;

    background: rgba(47, 47, 47, 0.69);

}
.cont{
    /* Rectangle 2 */


    position: absolute;
    width: 1132px;
    height: 1618px;
    left: 185px;
    top: 3825px;

    background: #FFFFFF;

}
.txt20{
    /* Согласно докладной записке НКГБ БССР от 5 июля 1941 года в НКГБ и НКВД СССР первые партизанские отряды и группы были созданы в БССР уже 26 июня 1941 года. В их состав вошли работники НКГБ, НКВД и курсанты Могилевской межкраевой школы. Всего 14 отрядов общей численностью 1.162 человека, в их составе оперативных и руководящих работников НКГБ — 539 человек, работников НКВД и милиции — 623 человека. По районам отряды распределялись следующим образом: Слуцкий — 100 человек под командованием начальника УНКГБ по Минской области капитана госбезопасности А.Е.Василевского; Лепельский — 101 человек, начальник Лидского горотдела НКГБ ст. лейтенант госбезопасности Г.Н.Сулима; Дзержинский — 51 человек, зам. начальника 1–го Управления НКГБ БССР ст. лейтенант госбезопасности Г.Г.Старинов; Осиповичский — 101 человек, начальник контрразведывательного отдела УНКГБ по Барановичской области капитан госбезопасности К.А.Рубинов; Червенский — 50 человек, зам. начальника УНКГБ по Барановичской области капитан госбезопасности Н.С.Зайцев; Березинский — 96 человек, зам. начальника УНКГБ по Белостокской области капитан госбезопасности С.В.Юрин; Белыничский — 50 человек, нач. отделения 3–го Управления НКГБ БССР мл. лейтенант госбезопасности П.А.Ляхов; Кричевский — 50 человек, нач. следственной части УНКГБ по Минской области лейтенант госбезопасности В.А.Симахин; Могилевский — 101 человек, нач. секретно–политического отдела УНКГБ по Могилевской области лейтенант госбезопасности Х.С.Прибыль; Витебский — 53 человека, зам. начальника 2–го Управления НКГБ БССР ст. лейтенант госбезопасности Л.М.Пасманик; Шкловский — 93 человека, комендант НКГБ БССР ст. лейтенант госбезопасности С.Г.Коба; Быховский — 103 человека, лейтенант милиции Д.Н.Кузменок; Оршанский — 102 человека, нач. отдела уголовного розыска и помощник начальника Управления милиции НКВД БССР капитан милиции М.Л.Кожемякин; Бобруйский — 111 человек, зам. начальника отдела 3–го Управления НКГБ БССР лейтенант госбезопасности Г.С.Морозкин. */

    position: absolute;
    width: 825px;
    height: 1568px;
    left: 252px;
    top: 3846px;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 27px;
    line-height: 32px;
    text-align: justify;

    color: #000000;


}
.txt21{
    position: absolute;
    width: 825px;
    height: 200px;
    left: 252px;
    top: 4150px;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 27px;
    line-height: 32px;
    text-align: justify;

    color: #000000;
}
.txt22{
    position: absolute;
    width: 825px;
    height: 200px;
    left: 252px;
    top: 4250px;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 27px;
    line-height: 32px;
    text-align: justify;

    color: #000000;
}
.txt23{
    position: absolute;
    width: 825px;
    height: 200px;
    left: 252px;
    top: 4340px;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 27px;
    line-height: 32px;
    text-align: justify;

    color: #000000;
}
.txt24{
    position: absolute;
    width: 825px;
    height: 200px;
    left: 252px;
    top: 4430px;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 27px;
    line-height: 32px;
    text-align: justify;

    color: #000000;
}
.txt25{
    position: absolute;
    width: 825px;
    height: 200px;
    left: 252px;
    top: 4550px;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 27px;
    line-height: 32px;
    text-align: justify;

    color: #000000;
}
.txt26{
    position: absolute;
    width: 825px;
    height: 200px;
    left: 252px;
    top: 4630px;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 27px;
    line-height: 32px;
    text-align: justify;

    color: #000000;
}
.txt27{
    position: absolute;
    width: 825px;
    height: 200px;
    left: 252px;
    top: 4730px;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 27px;
    line-height: 32px;
    text-align: justify;

    color: #000000;
}
.txt28{
    position: absolute;
    width: 825px;
    height: 200px;
    left: 252px;
    top: 4830px;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 27px;
    line-height: 32px;
    text-align: justify;

    color: #000000;
}
.txt29{
    position: absolute;
    width: 825px;
    height: 200px;
    left: 252px;
    top: 4930px;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 27px;
    line-height: 32px;
    text-align: justify;

    color: #000000;
}
.txt30{
    position: absolute;
    width: 825px;
    height: 200px;
    left: 252px;
    top: 5050px;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 27px;
    line-height: 32px;
    text-align: justify;

    color: #000000;
}
.txt31{
    position: absolute;
    width: 825px;
    height: 200px;
    left: 252px;
    top: 5130px;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 27px;
    line-height: 32px;
    text-align: justify;

    color: #000000;
}
.txt32{
    position: absolute;
    width: 825px;
    height: 200px;
    left: 252px;
    top: 5210px;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 27px;
    line-height: 32px;
    text-align: justify;

    color: #000000;
}
.txt33{
    position: absolute;
    width: 825px;
    height: 200px;
    left: 252px;
    top: 5260px;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 27px;
    line-height: 32px;
    text-align: justify;

    color: #000000;
}
.txt34{
    position: absolute;
    width: 825px;
    height: 100px;
    left: 252px;
    top: 5380px;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-size: 27px;
    line-height: 32px;
    text-align: justify;

    color: #000000;
}

