.var{
    /* Rectangle 3 */

    position: absolute;
    width: 100%;
    height: 683px;
    left: 0px;
    top: 0px;

    background: rgba(47, 47, 47, 0.69);

}
.txt{
    /* Дети на войне */

    position: absolute;
    width: 475px;
    height: 55px;
    left: 23px;
    top: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 50px;
    line-height: 61px;
    text-transform: uppercase;

    color: #FFFFFF;
}
.txt1{
    /* До сих пор слышу крики из горящего сарая */

    position: absolute;
    width: 1205px;
    height: 170px;
    left: 118px;
    top: 298px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 85px;
    text-align: center;
    text-transform: uppercase;

    color: #FCFCFC;


}
.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.txt2{
    /* По ступенькам сбегали вниз, нас подхватывали и подбрасывали так, что когда поймают, а когда и нет */

    position: absolute;
    width: 1125px;
    height: 58px;
    left: 38px;
    top: 544px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;

    color: rgba(255, 255, 255, 0.5);
}
.deda{
    /* 6188fb1cec7147843c1f 1 */

    position: absolute;
    width: 964px;
    height: 609px;
    left: 238px;
    top: 777px;


}
.txt3{
    /* Коля Дорогокупец жил с родителями и двумя сестрами на хуторе между деревнями Могильно и Радовня (Ивановский район Брестской области) недалеко от железной дороги. Мальчику здесь нравилось: можно бегать с соседскими ребятишками, смотреть на аистов, чибисов и других птиц. Особая детская радость – когда мама печет из теста фигурки буслят с сушеной черникой, съесть сначала ягодки. Жизнь прекрасна, когда тебе всего шесть лет! Для Коли так и было, пока не наступило воскресенье 22 июня 1941 года. */

    position: absolute;
    width: 964px;
    height: 315px;
    left: 238px;
    top: 1436px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.txt4{
    /* День выдался ярким, солнечным. Все шло своим чередом, но под вечер к железнодорожной станции подлетели два самолета с крестами на крыльях, резко снизились, и от них оторвались черные точки. */

    position: absolute;
    width: 971px;
    height: 140px;
    left: 238px;
    top: 1760px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.txt5{
    /* “ */

    position: absolute;
    width: 18px;
    height: 80px;
    top: 1900px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 80px;
    /* identical to box height */
    text-align: justify;

    color: #000000;


}
.txt6{
    /* – Сначала мы увидели фонтаны земли, а через несколько секунд услышали взрывы. Нас, малых детей, мама быстро спрятала от осколков в капустные грядки. К вечеру на хутор вернулся отец и сказал, что началась война. */

    position: absolute;
    width: 978px;
    height: 105px;
    left: 235px;
    top: 2071px;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 200;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.txt7{
    /* На третий день пришли враги с машинами и лошадьми. Сельчане притихли, уже не собирались на посиделки, но, как и раньше, косили сено, работали в поле. Недели через две, когда установилась оккупационная администрация, вывесили приказы: за укрывательство красноармейцев – расстрел, за несдачу радиоприемников и оружия – расстрел… Было страшно, но местные жители очень поддерживали партизан, которые на каждом хуторе могли найти и обогрев, и пищу. Зимы тогда выдались холодными, до 40 градусов мороза. При свете коптилок, лучин крестьяне вязали для лесных бойцов носки из домашней шерсти, варежки (обязательно с двумя пальцами, а не с одним, чтобы можно было стрелять). */

    position: absolute;
    width: 978px;
    height: 230px;
    left: 235px;
    top: 2246px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.txt8{
    position: absolute;
    width: 978px;
    height: 230px;
    left: 235px;
    top: 2456px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;
}
.girls{
    /* f06ce22171d266460ac3 1 */

    position: absolute;
    width: 538px;
    height: 440px;
    left: 292px;
    top: 2820px;



}
.txt9{
    /* Мама и братья, родившиеся после войны */

    position: absolute;
    width: 334px;
    height: 70px;
    top: 3000px;
    right:250px ;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 200;
    font-size: 30px;
    line-height: 35px;
    text-align: left;

    color: rgba(0, 0, 0, 0.5);
}
.txt10{
    /* – Помню, как проходили отряды партизанского соединения Ковпака под командованием легендарного Петра Петровича Вершигоры. Они оставляли населению зерно, муку и просили, чтобы им отдали хлеб, рушники для перевязки ран. Когда партизаны убили коменданта Ивановской полиции Петренко, фашисты стали расстреливать по списку семьи. В тот день уничтожили 76 человек. – Рядом с нами располагался еще один хутор – Казака. С его сыном Геной мы были ровесниками, и в тот день я как раз был у него. К хутору подошли двое солдат, взяли нас обоих за воротники и повели к дому. Тут на телеге подъехали еще фашисты и староста Тихон, – рассказывает Николай Николаевич. – Тихон указал на меня: этот пацан не из этой хаты. Солдат дал мне подзатыльник, и я побежал домой. Позже моя мама Фекла Сидоровна рассказала, что, когда увидела из окна телегу с карателями, направляющуюся к хутору Казака, то бросилась наперерез повозке с криком: «Тихон, там мой сын Коля!» Не побоялась, что саму убьют. Сыновей Казака Геннадия и Степана и их мать расстреляли. По счастливой случайности на хуторе не было хозяина и его дочери Гали. – Мы оставались дома до августа 1943 года. Потом мой отец Николай Петрович увез всю семью в партизанскую зону, оставил нас на хуторе Пыкачи между деревнями Корсынь и Залядынье, а сам ушел в партизанский отряд имени Лазо. Приходил редко и всегда с винтовкой на плече. А под конец обороны Днепровско-Бугского канала мы его и не видели. Уже после освобождения Ивановского района узнали, что после расформирования отряда партизаны пополнили ряды Красной армии. */

    position: absolute;
    width: 985px;
    height: 300px;
    left: 231px;
    top: 3370px;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 200;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.txt11{
    /* – Помню, как проходили отряды партизанского соединения Ковпака под командованием легендарного Петра Петровича Вершигоры. Они оставляли населению зерно, муку и просили, чтобы им отдали хлеб, рушники для перевязки ран. Когда партизаны убили коменданта Ивановской полиции Петренко, фашисты стали расстреливать по списку семьи. В тот день уничтожили 76 человек. – Рядом с нами располагался еще один хутор – Казака. С его сыном Геной мы были ровесниками, и в тот день я как раз был у него. К хутору подошли двое солдат, взяли нас обоих за воротники и повели к дому. Тут на телеге подъехали еще фашисты и староста Тихон, – рассказывает Николай Николаевич. – Тихон указал на меня: этот пацан не из этой хаты. Солдат дал мне подзатыльник, и я побежал домой. Позже моя мама Фекла Сидоровна рассказала, что, когда увидела из окна телегу с карателями, направляющуюся к хутору Казака, то бросилась наперерез повозке с криком: «Тихон, там мой сын Коля!» Не побоялась, что саму убьют. Сыновей Казака Геннадия и Степана и их мать расстреляли. По счастливой случайности на хуторе не было хозяина и его дочери Гали. – Мы оставались дома до августа 1943 года. Потом мой отец Николай Петрович увез всю семью в партизанскую зону, оставил нас на хуторе Пыкачи между деревнями Корсынь и Залядынье, а сам ушел в партизанский отряд имени Лазо. Приходил редко и всегда с винтовкой на плече. А под конец обороны Днепровско-Бугского канала мы его и не видели. Уже после освобождения Ивановского района узнали, что после расформирования отряда партизаны пополнили ряды Красной армии. */

    position: absolute;
    width: 985px;
    height: 980px;
    left: 231px;
    top: 3550px;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 200;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.txt12{
    /* – Помню, как проходили отряды партизанского соединения Ковпака под командованием легендарного Петра Петровича Вершигоры. Они оставляли населению зерно, муку и просили, чтобы им отдали хлеб, рушники для перевязки ран. Когда партизаны убили коменданта Ивановской полиции Петренко, фашисты стали расстреливать по списку семьи. В тот день уничтожили 76 человек. – Рядом с нами располагался еще один хутор – Казака. С его сыном Геной мы были ровесниками, и в тот день я как раз был у него. К хутору подошли двое солдат, взяли нас обоих за воротники и повели к дому. Тут на телеге подъехали еще фашисты и староста Тихон, – рассказывает Николай Николаевич. – Тихон указал на меня: этот пацан не из этой хаты. Солдат дал мне подзатыльник, и я побежал домой. Позже моя мама Фекла Сидоровна рассказала, что, когда увидела из окна телегу с карателями, направляющуюся к хутору Казака, то бросилась наперерез повозке с криком: «Тихон, там мой сын Коля!» Не побоялась, что саму убьют. Сыновей Казака Геннадия и Степана и их мать расстреляли. По счастливой случайности на хуторе не было хозяина и его дочери Гали. – Мы оставались дома до августа 1943 года. Потом мой отец Николай Петрович увез всю семью в партизанскую зону, оставил нас на хуторе Пыкачи между деревнями Корсынь и Залядынье, а сам ушел в партизанский отряд имени Лазо. Приходил редко и всегда с винтовкой на плече. А под конец обороны Днепровско-Бугского канала мы его и не видели. Уже после освобождения Ивановского района узнали, что после расформирования отряда партизаны пополнили ряды Красной армии. */

    position: absolute;
    width: 985px;
    height: 980px;
    left: 231px;
    top: 3700px;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 200;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.txt13{
    /* – Помню, как проходили отряды партизанского соединения Ковпака под командованием легендарного Петра Петровича Вершигоры. Они оставляли населению зерно, муку и просили, чтобы им отдали хлеб, рушники для перевязки ран. Когда партизаны убили коменданта Ивановской полиции Петренко, фашисты стали расстреливать по списку семьи. В тот день уничтожили 76 человек. – Рядом с нами располагался еще один хутор – Казака. С его сыном Геной мы были ровесниками, и в тот день я как раз был у него. К хутору подошли двое солдат, взяли нас обоих за воротники и повели к дому. Тут на телеге подъехали еще фашисты и староста Тихон, – рассказывает Николай Николаевич. – Тихон указал на меня: этот пацан не из этой хаты. Солдат дал мне подзатыльник, и я побежал домой. Позже моя мама Фекла Сидоровна рассказала, что, когда увидела из окна телегу с карателями, направляющуюся к хутору Казака, то бросилась наперерез повозке с криком: «Тихон, там мой сын Коля!» Не побоялась, что саму убьют. Сыновей Казака Геннадия и Степана и их мать расстреляли. По счастливой случайности на хуторе не было хозяина и его дочери Гали. – Мы оставались дома до августа 1943 года. Потом мой отец Николай Петрович увез всю семью в партизанскую зону, оставил нас на хуторе Пыкачи между деревнями Корсынь и Залядынье, а сам ушел в партизанский отряд имени Лазо. Приходил редко и всегда с винтовкой на плече. А под конец обороны Днепровско-Бугского канала мы его и не видели. Уже после освобождения Ивановского района узнали, что после расформирования отряда партизаны пополнили ряды Красной армии. */

    position: absolute;
    width: 985px;
    height: 980px;
    left: 231px;
    top: 4060px;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 200;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.shelby{
    /* c 1 */

    position: absolute;
    width: 542px;
    height: 440px;
    left: 292px;
    top: 4200px;



}
.txt15{
    /* Армейское фото (второй справа) */

    position: absolute;
    width: 300px;
    height: 70px;
    left: 916px;
    top: 4350px;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 200;
    font-size: 30px;
    line-height: 35px;
    text-align: center;

    color: rgba(0, 0, 0, 0.5);
}
.txt16{
    /* Жили в постоянном страхе. Дети слушали разговоры женщин о том, что если придут гитлеровцы и станут расстреливать, то пусть пуля попадет сразу в сердце, чтоб не мучиться. На хуторе было четыре избы, в каждой по 6–7 семей. И никаких распрей, раздоров. Общая беда сплотила людей. Делились последним куском хлеба, одеждой. Единственное огорчение, когда лошадь добралась до муки и съела полмешка. Все переживали, чтобы она осталась жить. В холодную и голодную зиму 1944-го начались жестокие бои по всему Днепровско-Бугскому каналу. После 40-дневной обороны партизаны и гражданское население стали уходить за Припять. Коле с мамой и сестрой пришлось идти пешком по глубокому снегу. Не спали по несколько суток. Так добрались до деревни Березичи. */

    position: absolute;
    width: 985px;
    height: 525px;
    left: 238px;
    top: 4700px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.txt17{
    /* Жили в постоянном страхе. Дети слушали разговоры женщин о том, что если придут гитлеровцы и станут расстреливать, то пусть пуля попадет сразу в сердце, чтоб не мучиться. На хуторе было четыре избы, в каждой по 6–7 семей. И никаких распрей, раздоров. Общая беда сплотила людей. Делились последним куском хлеба, одеждой. Единственное огорчение, когда лошадь добралась до муки и съела полмешка. Все переживали, чтобы она осталась жить. В холодную и голодную зиму 1944-го начались жестокие бои по всему Днепровско-Бугскому каналу. После 40-дневной обороны партизаны и гражданское население стали уходить за Припять. Коле с мамой и сестрой пришлось идти пешком по глубокому снегу. Не спали по несколько суток. Так добрались до деревни Березичи. */

    position: absolute;
    width: 985px;
    height: 525px;
    left: 238px;
    top: 4850px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.txt18{
    /* Жили в постоянном страхе. Дети слушали разговоры женщин о том, что если придут гитлеровцы и станут расстреливать, то пусть пуля попадет сразу в сердце, чтоб не мучиться. На хуторе было четыре избы, в каждой по 6–7 семей. И никаких распрей, раздоров. Общая беда сплотила людей. Делились последним куском хлеба, одеждой. Единственное огорчение, когда лошадь добралась до муки и съела полмешка. Все переживали, чтобы она осталась жить. В холодную и голодную зиму 1944-го начались жестокие бои по всему Днепровско-Бугскому каналу. После 40-дневной обороны партизаны и гражданское население стали уходить за Припять. Коле с мамой и сестрой пришлось идти пешком по глубокому снегу. Не спали по несколько суток. Так добрались до деревни Березичи. */

    position: absolute;
    width: 985px;
    height: 525px;
    left: 238px;
    top: 5030px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.txt19{
    /* “ */

    position: absolute;
    width: 18px;
    height: 80px;
    top: 5270px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 80px;
    /* identical to box height */
    text-align: justify;

    color: #000000;


}
.txt20{
    /* – Все, что было у матери, – два цветастых головных платка. Один у нас украли, а второй мама сняла со своей головы, пошла по деревне и выменяла на пуд ржи. */

    position: absolute;
    width: 985px;
    height: 130px;
    left: 238px;
    top: 5370px;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 200;
    font-size: 32px;
    line-height: 38px;
    text-align: justify;

    color: rgba(0, 0, 0, 0.5);


}
.txt21{
    /* После освобождения Ивановского района 16 июля 1944 года семья Дорогокупцев вернулась и обнаружила, что их дом сожгли. Поселились в хате деда, стали налаживать жизнь. В то время начали открывать школы, закрытые с приходом фашистов. Для этого приспосабливали пустующие дома. За партами вместе сидели и семилетние, и 11-летние дети. Бумаги, перьев и чернил не было. Писали на обрывках газет и коричневой бумаге от мешков из-под цемента. */

    position: absolute;
    width: 992px;
    height: 315px;
    left: 238px;
    top: 5550px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.txt22{
    /* После освобождения Ивановского района 16 июля 1944 года семья Дорогокупцев вернулась и обнаружила, что их дом сожгли. Поселились в хате деда, стали налаживать жизнь. В то время начали открывать школы, закрытые с приходом фашистов. Для этого приспосабливали пустующие дома. За партами вместе сидели и семилетние, и 11-летние дети. Бумаги, перьев и чернил не было. Писали на обрывках газет и коричневой бумаге от мешков из-под цемента. */

    position: absolute;
    width: 992px;
    height: 315px;
    left: 238px;
    top: 5700px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.txt23{
    /* День Победы Николаю Николаевичу запомнился обилием красного. На каждом доме висели алые лоскуты: рубахи, косынки – что угодно. Флагов у людей тогда не было. Спросили у мамы, что это такое? «Это Победа», – ответила она. – С фронта вернулся в 1946 году отец. В том же году я пошел в школу, затем окончил семилетку (это как теперешние девять классов), пинский электротехникум связи, отслужил три года в армии – в Брестской крепости. Много лет работал в районном узле связи, стал его начальником. При мне сменилось три поколения телефонных станций, – рассказывает Николай Дорогокупец. – С женой Галиной Николаевной мы вместе 54 года. У нас трое детей и семеро внуков. Моя судьба сложилась счастливо. Вот только когда вспоминаю военное время, чувствую комок в горле. Почему-то события из детства помнятся отчетливее, чем все, что было потом... */

    position: absolute;
    width: 999px;
    height: 638px;
    left: 238px;
    top: 5900px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.txt24{
    /* День Победы Николаю Николаевичу запомнился обилием красного. На каждом доме висели алые лоскуты: рубахи, косынки – что угодно. Флагов у людей тогда не было. Спросили у мамы, что это такое? «Это Победа», – ответила она. – С фронта вернулся в 1946 году отец. В том же году я пошел в школу, затем окончил семилетку (это как теперешние девять классов), пинский электротехникум связи, отслужил три года в армии – в Брестской крепости. Много лет работал в районном узле связи, стал его начальником. При мне сменилось три поколения телефонных станций, – рассказывает Николай Дорогокупец. – С женой Галиной Николаевной мы вместе 54 года. У нас трое детей и семеро внуков. Моя судьба сложилась счастливо. Вот только когда вспоминаю военное время, чувствую комок в горле. Почему-то события из детства помнятся отчетливее, чем все, что было потом... */

    position: absolute;
    width: 999px;
    height: 638px;
    left: 238px;
    top: 6100px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: rgba(0, 0, 0, 0.5);


}