.var{
    /* Rectangle 3 */

    position: absolute;
    width: 100%;
    height: 683px;
    left: 0px;
    top: 0px;

    background: rgba(47, 47, 47, 0.69);

}
.txt{
    /* Дети на войне */

    position: absolute;
    width: 475px;
    height: 55px;
    left: 23px;
    top: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 50px;
    line-height: 61px;
    text-transform: uppercase;

    color: #FFFFFF;
}
.txt1{
    /* До сих пор слышу крики из горящего сарая */

    position: absolute;
    width: 1205px;
    height: 170px;
    left: 118px;
    top: 298px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 85px;
    text-align: center;
    text-transform: uppercase;

    color: #FCFCFC;


}
.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.txt2{
    /* Больше 70 лет брестчанка «слышит» крики горящих в соседней деревне людей */

    position: absolute;
    width: 1125px;
    height: 29px;
    left: 38px;
    top: 544px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    text-transform: uppercase;

    color: rgba(255, 255, 255, 0.5);
}
.txt3{
    /* В марте Зоя Артюх из Бреста отпраздновала 86-летие. Хотя постойте. Бабушка загибает пальцы на руке: в действительности ей уже за 90. Еще в начале войны мама намеренно уменьшила возраст старшей дочери. Чтобы не забрали работать в Германию. Сейчас точную дату рождения уроженки деревни Хмелево Жабинковского района, увы, не восстановишь. Зато продолжение других воспоминаний той кровавой поры находим даже в историко-документальной литературе. Слово Зое Денисовне. */

    position: absolute;
    width: 620px;
    height: 710px;
    left: 201px;
    top: 767px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.txt4{
    /* – Прошло столько лет, а я отчетливо помню то июньское утро. Услышав незнакомый гул, мы с сестрой Ирой и братьями Гришей и Степой выбежали из дома. «Ганна, то багі прыйшлі», – объяснила соседка происходящее нашей маме. Но скоро кружившие над деревней самолеты «рассказали» сами, какому богу служат. Нам повезло: родители всю войну были рядом. Папу не мобилизовали, потому что болел плевритом. Но умереть ему было суждено все-таки от пули: через год после войны его, сторожа магазина, на ночном дежурстве застрелил грабитель. Скоро после начала Великой Отечественной мы покинули деревню. Многие соседи делали то же самое. Прятались от фашистов в лесах. Каждый брал из дома что мог. Даже коров и лошадей уводили. В селе оставались старики. Например, мои бабушка Прасковья и дед Кузьма. Они стерегли хаты. Гитлеровцы их не трогали. Украдкой мы пробирались в деревню за едой и вещами. Нацистов в деревне было не много. Жили в пяти домах от нашего. Их «работой» было истязать местных, которых обличили в помощи солдатам или партизанам. Во время войны я узнала, насколько жестоким может быть человек. Фашисты безжалостно уничтожили соседнюю деревушку Дремлево. Прослышали, что кто-то из местных поддерживает партизан, что они приходят ночью поесть, а наутро прячутся в лесу. Оккупанты не стали разбираться, правда ли это. Устроили показательную расправу. Согнали жителей в сараи. Всех. И детей. И женщин. И стариков. Постреляли их. Умерли, конечно, не все. Потом нелюди облили сараи бензином и подожгли. Все кричали. Вы только представьте: закрытые снаружи, они горели живыми. Их стоны разносились в утренней тишине за несколько километров. Сама слышала. До сих пор слышу… Мы в то время ютились в соседней деревне у родной сестры мамы Нади. Моя младшая сестренка уловила обрывки разговора взрослых, схватила домашнего кота и бросила в печку. Животное горело, а она скорбно плакала. Спустя годы спросила, помнит ли она этот случай. Забыла. И слава богу. */

    position: absolute;
    width: 1129px;
    height: 1330px;
    left: 194px;
    top: 1380px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.txt5{
    /* – Прошло столько лет, а я отчетливо помню то июньское утро. Услышав незнакомый гул, мы с сестрой Ирой и братьями Гришей и Степой выбежали из дома. «Ганна, то багі прыйшлі», – объяснила соседка происходящее нашей маме. Но скоро кружившие над деревней самолеты «рассказали» сами, какому богу служат. Нам повезло: родители всю войну были рядом. Папу не мобилизовали, потому что болел плевритом. Но умереть ему было суждено все-таки от пули: через год после войны его, сторожа магазина, на ночном дежурстве застрелил грабитель. Скоро после начала Великой Отечественной мы покинули деревню. Многие соседи делали то же самое. Прятались от фашистов в лесах. Каждый брал из дома что мог. Даже коров и лошадей уводили. В селе оставались старики. Например, мои бабушка Прасковья и дед Кузьма. Они стерегли хаты. Гитлеровцы их не трогали. Украдкой мы пробирались в деревню за едой и вещами. Нацистов в деревне было не много. Жили в пяти домах от нашего. Их «работой» было истязать местных, которых обличили в помощи солдатам или партизанам. Во время войны я узнала, насколько жестоким может быть человек. Фашисты безжалостно уничтожили соседнюю деревушку Дремлево. Прослышали, что кто-то из местных поддерживает партизан, что они приходят ночью поесть, а наутро прячутся в лесу. Оккупанты не стали разбираться, правда ли это. Устроили показательную расправу. Согнали жителей в сараи. Всех. И детей. И женщин. И стариков. Постреляли их. Умерли, конечно, не все. Потом нелюди облили сараи бензином и подожгли. Все кричали. Вы только представьте: закрытые снаружи, они горели живыми. Их стоны разносились в утренней тишине за несколько километров. Сама слышала. До сих пор слышу… Мы в то время ютились в соседней деревне у родной сестры мамы Нади. Моя младшая сестренка уловила обрывки разговора взрослых, схватила домашнего кота и бросила в печку. Животное горело, а она скорбно плакала. Спустя годы спросила, помнит ли она этот случай. Забыла. И слава богу. */

    position: absolute;
    width: 1129px;
    height: 1330px;
    left: 194px;
    top: 1580px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.txt6{
    /* – Прошло столько лет, а я отчетливо помню то июньское утро. Услышав незнакомый гул, мы с сестрой Ирой и братьями Гришей и Степой выбежали из дома. «Ганна, то багі прыйшлі», – объяснила соседка происходящее нашей маме. Но скоро кружившие над деревней самолеты «рассказали» сами, какому богу служат. Нам повезло: родители всю войну были рядом. Папу не мобилизовали, потому что болел плевритом. Но умереть ему было суждено все-таки от пули: через год после войны его, сторожа магазина, на ночном дежурстве застрелил грабитель. Скоро после начала Великой Отечественной мы покинули деревню. Многие соседи делали то же самое. Прятались от фашистов в лесах. Каждый брал из дома что мог. Даже коров и лошадей уводили. В селе оставались старики. Например, мои бабушка Прасковья и дед Кузьма. Они стерегли хаты. Гитлеровцы их не трогали. Украдкой мы пробирались в деревню за едой и вещами. Нацистов в деревне было не много. Жили в пяти домах от нашего. Их «работой» было истязать местных, которых обличили в помощи солдатам или партизанам. Во время войны я узнала, насколько жестоким может быть человек. Фашисты безжалостно уничтожили соседнюю деревушку Дремлево. Прослышали, что кто-то из местных поддерживает партизан, что они приходят ночью поесть, а наутро прячутся в лесу. Оккупанты не стали разбираться, правда ли это. Устроили показательную расправу. Согнали жителей в сараи. Всех. И детей. И женщин. И стариков. Постреляли их. Умерли, конечно, не все. Потом нелюди облили сараи бензином и подожгли. Все кричали. Вы только представьте: закрытые снаружи, они горели живыми. Их стоны разносились в утренней тишине за несколько километров. Сама слышала. До сих пор слышу… Мы в то время ютились в соседней деревне у родной сестры мамы Нади. Моя младшая сестренка уловила обрывки разговора взрослых, схватила домашнего кота и бросила в печку. Животное горело, а она скорбно плакала. Спустя годы спросила, помнит ли она этот случай. Забыла. И слава богу. */

    position: absolute;
    width: 1129px;
    height: 1330px;
    left: 194px;
    top: 1730px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.txt7{
    /* – Прошло столько лет, а я отчетливо помню то июньское утро. Услышав незнакомый гул, мы с сестрой Ирой и братьями Гришей и Степой выбежали из дома. «Ганна, то багі прыйшлі», – объяснила соседка происходящее нашей маме. Но скоро кружившие над деревней самолеты «рассказали» сами, какому богу служат. Нам повезло: родители всю войну были рядом. Папу не мобилизовали, потому что болел плевритом. Но умереть ему было суждено все-таки от пули: через год после войны его, сторожа магазина, на ночном дежурстве застрелил грабитель. Скоро после начала Великой Отечественной мы покинули деревню. Многие соседи делали то же самое. Прятались от фашистов в лесах. Каждый брал из дома что мог. Даже коров и лошадей уводили. В селе оставались старики. Например, мои бабушка Прасковья и дед Кузьма. Они стерегли хаты. Гитлеровцы их не трогали. Украдкой мы пробирались в деревню за едой и вещами. Нацистов в деревне было не много. Жили в пяти домах от нашего. Их «работой» было истязать местных, которых обличили в помощи солдатам или партизанам. Во время войны я узнала, насколько жестоким может быть человек. Фашисты безжалостно уничтожили соседнюю деревушку Дремлево. Прослышали, что кто-то из местных поддерживает партизан, что они приходят ночью поесть, а наутро прячутся в лесу. Оккупанты не стали разбираться, правда ли это. Устроили показательную расправу. Согнали жителей в сараи. Всех. И детей. И женщин. И стариков. Постреляли их. Умерли, конечно, не все. Потом нелюди облили сараи бензином и подожгли. Все кричали. Вы только представьте: закрытые снаружи, они горели живыми. Их стоны разносились в утренней тишине за несколько километров. Сама слышала. До сих пор слышу… Мы в то время ютились в соседней деревне у родной сестры мамы Нади. Моя младшая сестренка уловила обрывки разговора взрослых, схватила домашнего кота и бросила в печку. Животное горело, а она скорбно плакала. Спустя годы спросила, помнит ли она этот случай. Забыла. И слава богу. */

    position: absolute;
    width: 1129px;
    height: 1330px;
    left: 194px;
    top: 1950px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.txt8{
    /* – Прошло столько лет, а я отчетливо помню то июньское утро. Услышав незнакомый гул, мы с сестрой Ирой и братьями Гришей и Степой выбежали из дома. «Ганна, то багі прыйшлі», – объяснила соседка происходящее нашей маме. Но скоро кружившие над деревней самолеты «рассказали» сами, какому богу служат. Нам повезло: родители всю войну были рядом. Папу не мобилизовали, потому что болел плевритом. Но умереть ему было суждено все-таки от пули: через год после войны его, сторожа магазина, на ночном дежурстве застрелил грабитель. Скоро после начала Великой Отечественной мы покинули деревню. Многие соседи делали то же самое. Прятались от фашистов в лесах. Каждый брал из дома что мог. Даже коров и лошадей уводили. В селе оставались старики. Например, мои бабушка Прасковья и дед Кузьма. Они стерегли хаты. Гитлеровцы их не трогали. Украдкой мы пробирались в деревню за едой и вещами. Нацистов в деревне было не много. Жили в пяти домах от нашего. Их «работой» было истязать местных, которых обличили в помощи солдатам или партизанам. Во время войны я узнала, насколько жестоким может быть человек. Фашисты безжалостно уничтожили соседнюю деревушку Дремлево. Прослышали, что кто-то из местных поддерживает партизан, что они приходят ночью поесть, а наутро прячутся в лесу. Оккупанты не стали разбираться, правда ли это. Устроили показательную расправу. Согнали жителей в сараи. Всех. И детей. И женщин. И стариков. Постреляли их. Умерли, конечно, не все. Потом нелюди облили сараи бензином и подожгли. Все кричали. Вы только представьте: закрытые снаружи, они горели живыми. Их стоны разносились в утренней тишине за несколько километров. Сама слышала. До сих пор слышу… Мы в то время ютились в соседней деревне у родной сестры мамы Нади. Моя младшая сестренка уловила обрывки разговора взрослых, схватила домашнего кота и бросила в печку. Животное горело, а она скорбно плакала. Спустя годы спросила, помнит ли она этот случай. Забыла. И слава богу. */

    position: absolute;
    width: 1129px;
    height: 1330px;
    left: 194px;
    top: 2100px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}.txt9{
     /* – Прошло столько лет, а я отчетливо помню то июньское утро. Услышав незнакомый гул, мы с сестрой Ирой и братьями Гришей и Степой выбежали из дома. «Ганна, то багі прыйшлі», – объяснила соседка происходящее нашей маме. Но скоро кружившие над деревней самолеты «рассказали» сами, какому богу служат. Нам повезло: родители всю войну были рядом. Папу не мобилизовали, потому что болел плевритом. Но умереть ему было суждено все-таки от пули: через год после войны его, сторожа магазина, на ночном дежурстве застрелил грабитель. Скоро после начала Великой Отечественной мы покинули деревню. Многие соседи делали то же самое. Прятались от фашистов в лесах. Каждый брал из дома что мог. Даже коров и лошадей уводили. В селе оставались старики. Например, мои бабушка Прасковья и дед Кузьма. Они стерегли хаты. Гитлеровцы их не трогали. Украдкой мы пробирались в деревню за едой и вещами. Нацистов в деревне было не много. Жили в пяти домах от нашего. Их «работой» было истязать местных, которых обличили в помощи солдатам или партизанам. Во время войны я узнала, насколько жестоким может быть человек. Фашисты безжалостно уничтожили соседнюю деревушку Дремлево. Прослышали, что кто-то из местных поддерживает партизан, что они приходят ночью поесть, а наутро прячутся в лесу. Оккупанты не стали разбираться, правда ли это. Устроили показательную расправу. Согнали жителей в сараи. Всех. И детей. И женщин. И стариков. Постреляли их. Умерли, конечно, не все. Потом нелюди облили сараи бензином и подожгли. Все кричали. Вы только представьте: закрытые снаружи, они горели живыми. Их стоны разносились в утренней тишине за несколько километров. Сама слышала. До сих пор слышу… Мы в то время ютились в соседней деревне у родной сестры мамы Нади. Моя младшая сестренка уловила обрывки разговора взрослых, схватила домашнего кота и бросила в печку. Животное горело, а она скорбно плакала. Спустя годы спросила, помнит ли она этот случай. Забыла. И слава богу. */

     position: absolute;
     width: 1129px;
     height: 1330px;
     left: 194px;
     top: 2280px;

     font-family: 'Roboto';
     font-style: normal;
     font-weight: 300;
     font-size: 30px;
     line-height: 35px;
     text-align: justify;

     color: #000000;


 }
.txt10{
      /* – Прошло столько лет, а я отчетливо помню то июньское утро. Услышав незнакомый гул, мы с сестрой Ирой и братьями Гришей и Степой выбежали из дома. «Ганна, то багі прыйшлі», – объяснила соседка происходящее нашей маме. Но скоро кружившие над деревней самолеты «рассказали» сами, какому богу служат. Нам повезло: родители всю войну были рядом. Папу не мобилизовали, потому что болел плевритом. Но умереть ему было суждено все-таки от пули: через год после войны его, сторожа магазина, на ночном дежурстве застрелил грабитель. Скоро после начала Великой Отечественной мы покинули деревню. Многие соседи делали то же самое. Прятались от фашистов в лесах. Каждый брал из дома что мог. Даже коров и лошадей уводили. В селе оставались старики. Например, мои бабушка Прасковья и дед Кузьма. Они стерегли хаты. Гитлеровцы их не трогали. Украдкой мы пробирались в деревню за едой и вещами. Нацистов в деревне было не много. Жили в пяти домах от нашего. Их «работой» было истязать местных, которых обличили в помощи солдатам или партизанам. Во время войны я узнала, насколько жестоким может быть человек. Фашисты безжалостно уничтожили соседнюю деревушку Дремлево. Прослышали, что кто-то из местных поддерживает партизан, что они приходят ночью поесть, а наутро прячутся в лесу. Оккупанты не стали разбираться, правда ли это. Устроили показательную расправу. Согнали жителей в сараи. Всех. И детей. И женщин. И стариков. Постреляли их. Умерли, конечно, не все. Потом нелюди облили сараи бензином и подожгли. Все кричали. Вы только представьте: закрытые снаружи, они горели живыми. Их стоны разносились в утренней тишине за несколько километров. Сама слышала. До сих пор слышу… Мы в то время ютились в соседней деревне у родной сестры мамы Нади. Моя младшая сестренка уловила обрывки разговора взрослых, схватила домашнего кота и бросила в печку. Животное горело, а она скорбно плакала. Спустя годы спросила, помнит ли она этот случай. Забыла. И слава богу. */

      position: absolute;
      width: 1129px;
      height: 1330px;
      left: 194px;
      top: 2480px;

      font-family: 'Roboto';
      font-style: normal;
      font-weight: 300;
      font-size: 30px;
      line-height: 35px;
      text-align: justify;

      color: #000000;
}
.babyla{
      /* а 1 */

      position: absolute;
      width: 310px;
      height: 470px;
      left: 1013px;
      top: 745px;
}
.babich{
      /* аа 1 */

      position: absolute;
      width: 532px;
      height: 376px;
      left: 454px;
      top: 2730px;
}
.txt20{
    /* Когда с родителями уходили в лес, жили и по оврагам, и на земле. Есть было нечего. Варили затирку. Большим «праздником» был суп с вороной. Детство в мои годы было скромным по теперешним меркам. Белая булка с изюмом в нашем доме на столе «гостила» разве что на Пасху. Сладкого вообще в рот не брали. Любимым лакомством была груша. Игрушек тоже раз два и обчелся. Куклы – из тряпок, самодельные. Из игр помню прятки и догонялки. Любимое развлечение – бегать по весне вокруг ямы, откуда выкопали картошку. После войны снова пошла в первый класс. За столько лет знания нужно было восстановить! В сборном классе сидели ученики разных возрастов, я одна из самых старших. Младший брат после окончания начальной школы поехал учиться в Пелище, в 17 километрах от Хмелево. Бывало, вернется на выходные и плачется маме, что рукава у пиджака короткие, стыдно. А мама тихо в ответ: «Учись, сынок, уважаемым человеком станешь». Так оно и вышло: много лет наш Степа был директором сельской школы в Каменецком районе. А меня тянуло в Брест. Окончила курсы продавца. Какое-то время торговала свежей выпечкой. Потом перешла работать официанткой в ресторан «Москва». Сейчас на этом месте магазин бытовой техники. Кто бы мог подумать, что молодой человек, которому помогла подняться после падения с велосипеда, станет моим супругом. Замуж вышла относительно поздно – в 27 лет. Через пару лет с разницей в четыре года родились дочь и сын. Они подарили мне двух внуков. Внуки – двух правнуков. */

    position: absolute;
    width: 1134px;
    height: 910px;
    Top: 3100px;
    left: 194px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;
}
.txt21{
    position: absolute;
    width: 1134px;
    height: 910px;
    Top: 3200px;
    left: 194px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;
}
.txt22{
    position: absolute;
    width: 1134px;
    height: 910px;
    Top: 3410px;
    left: 194px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;
}
.txt23{
    position: absolute;
    width: 1134px;
    height: 910px;
    Top: 3690px;
    left: 194px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;
}
.txt24{
    position: absolute;
    width: 1134px;
    height: 910px;
    Top: 3840px;
    left: 194px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;
}
.boys{
    /* ааа 1 */

    position: absolute;
    width: 783px;
    height: 510px;
    left: 196px;
    top: 4100px;


}
.txt25{
    /* Мемориал на месте сожженной деревни Дремлево */

    position: absolute;
    width: 262px;
    height: 105px;
    left: 1022px;
    top: 4424px;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 200;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: rgba(0, 0, 0, 0.5);


}
.block2{
    /* Rectangle 1 */

    position: absolute;
    width: 100%;
    height: 600px;
    top: 4700px;
    left: 0px;

    background: rgba(47, 47, 47, 0.69);
}
.block3{
    /* Rectangle 2 */

    position: absolute;
    width: 1132px;
    height: 500px;
    top: 4750px;

    background: #FFFFFF;

}
.txt26{
    /* Из книги «Памяць. Жабінкоўскі раён» */

    position: absolute;
    width: 536px;
    height: 35px;
    top: 4800px;
    left: 280px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.txt27{
    /* «11 верасня 1942 года на праваслаўнае свята Галавасек назаўсёды спынілася жыццё ў вёсцы Драмлёва. Ранкам, у час карнай аперацыі «Трохвугольнік», фашысты ўварваліся ў вёску. Сагнаўшы жыхароў у чатыры хлявы, яны пачалі рабаваць вёску, затым, расстраляўшы насельніцтва, падпалілі яе. У той жудасны дзень акупанты забілі і спалілі 190 чалавек, знішчылі 43 двары. Пасля Вялікай Айчыннай вайны Драмлёва не аднавілася. У 1967 годдзе на месцы спаленай вёскі насыпалі Курган Памяці, а ў 1982 годдзе пабудавалі мемарыяльны комплекс. На фоне Кургана, ля яго падножжа, на камянях-валунах у журботным маўчанні застылі, адлітыя з бронзы, тры жанчыны – маці, дачка і ўнучка, якія сімвалізуюць вечнае жыццё. Вёска ўвекавечана ў мемарыяльным комплексе «Хатынь». */

    position: absolute;
    width: 992px;
    height: 420px;
    top: 4850px;
    left: 280px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 35px;
    text-align: justify;

    color: rgba(0, 0, 0, 0.5);


}