.var{
    /* Rectangle 3 */

    position: absolute;
    width: 100%;
    height: 683px;
    left: 0px;
    top: 0px;

    background: rgba(47, 47, 47, 0.69);

}
.txt{
    /* Дети на войне */

    position: absolute;
    width: 475px;
    height: 55px;
    left: 23px;
    top: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 50px;
    line-height: 61px;
    text-transform: uppercase;

    color: #FFFFFF;
}
.txt1{
    /* До сих пор слышу крики из горящего сарая */

    position: absolute;
    width: 1205px;
    height: 170px;
    left: 118px;
    top: 298px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 85px;
    text-align: center;
    text-transform: uppercase;

    color: #FCFCFC;


}
.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.txt2{
    /* По ступенькам сбегали вниз, нас подхватывали и подбрасывали так, что когда поймают, а когда и нет */

    position: absolute;
    width: 1125px;
    height: 58px;
    left: 38px;
    top: 544px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;

    color: rgba(255, 255, 255, 0.5);
}
.txt3{
    /* Переступаем порог квартиры. Нас встречает хозяин, Василий Алексеевич Князев. На руках у него маленькая собачка – японский хин Тери. – Она умная, знает 17 команд. В 1945-м у нас в отряде разминирования служила немецкая овчарка Арс, я ее тоже дрессировал. Василий Алексеевич отпускает Тери, идет с нами в зал и останавливается возле столика с фотографиями. На одной из них мальчик лет одиннадцати в солдатской шинели, сапогах, с погонами и портупеей: – А это я в 1944-м. */

    position: absolute;
    width: 620px;
    height: 710px;
    left: 201px;
    top: 767px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.txt4{
    /* Переступаем порог квартиры. Нас встречает хозяин, Василий Алексеевич Князев. На руках у него маленькая собачка – японский хин Тери. – Она умная, знает 17 команд. В 1945-м у нас в отряде разминирования служила немецкая овчарка Арс, я ее тоже дрессировал. Василий Алексеевич отпускает Тери, идет с нами в зал и останавливается возле столика с фотографиями. На одной из них мальчик лет одиннадцати в солдатской шинели, сапогах, с погонами и портупеей: – А это я в 1944-м. */

    position: absolute;
    width: 620px;
    height: 710px;
    left: 201px;
    top: 900px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.txt5{
    /* Переступаем порог квартиры. Нас встречает хозяин, Василий Алексеевич Князев. На руках у него маленькая собачка – японский хин Тери. – Она умная, знает 17 команд. В 1945-м у нас в отряде разминирования служила немецкая овчарка Арс, я ее тоже дрессировал. Василий Алексеевич отпускает Тери, идет с нами в зал и останавливается возле столика с фотографиями. На одной из них мальчик лет одиннадцати в солдатской шинели, сапогах, с погонами и портупеей: – А это я в 1944-м. */

    position: absolute;
    width: 620px;
    height: 710px;
    left: 201px;
    top: 1050px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.txt6{
    /* Переступаем порог квартиры. Нас встречает хозяин, Василий Алексеевич Князев. На руках у него маленькая собачка – японский хин Тери. – Она умная, знает 17 команд. В 1945-м у нас в отряде разминирования служила немецкая овчарка Арс, я ее тоже дрессировал. Василий Алексеевич отпускает Тери, идет с нами в зал и останавливается возле столика с фотографиями. На одной из них мальчик лет одиннадцати в солдатской шинели, сапогах, с погонами и портупеей: – А это я в 1944-м. */

    position: absolute;
    width: 620px;
    height: 710px;
    left: 201px;
    top: 1250px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;
}
.ded{
    /* ее 1 */

    position: absolute;
    width: 333px;
    height: 530px;
    left: 946px;
    top: 767px;


}
.txt7{
    /* Погоны из лыка */
    position: absolute;
    width: 386px;
    height: 77px;
    top: 1460px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;

    color: #000000;


}
.txt8{
    /* Василий Алексеевич один из тех, кого называли сыновьями полка. Родителей убили фашисты за связь с партизанами. Ему удалось убежать в партизанский отряд. Оттуда попал в 203-й отдельный отряд разминирования действующей армии. – Советские солдаты заняли нашу деревню. Смотрю, в хате тети командир отряда, его заместитель и командир роты капитан Иванкин. Я сделал себе из лыка погоны, прикрепил их к армячку, нарисовал две лычки, подошел к капитану и докладываю: такой-то, хочу бить оккупантов. Он сначала посмеялся, а потом спросил у тети: «Вы бы отдали его нам?» А она говорит: «Да забирайте. Потому что до этого один из деревенских мальчишек поставил патрон противотанкового ружья, ударил по нему камнем, и ему разорвало живот. А потом они мне грушу взорвали». Это мы достали из фашистского снаряда порох, и подвели под мину. Груша подлетела на 30 метров. Нам интересно было. И вот меня забрали в землянку. Солдаты мне смастерили шинельку из большей, подвернули погоны, как на фотографии, дали фуражку, шапку и даже портупею. Детство мое на этом закончилось. Меня зачислили на должность связного. */

    position: absolute;
    width: 1082px;
    height: 700px;
    left: 200px;
    top: 1600px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.txt9{
    position: absolute;
    width: 1082px;
    height: 700px;
    left: 200px;
    top: 1750px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;
}
.ded2{
    /* ццц 1 */

    position: absolute;
    width: 809px;
    height: 718px;
    top: 2387px;


}
.txt10{
    position: absolute;
    width: 1082px;
    height: 700px;
    left: 200px;
    top: 2100px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;
}
.txt30{
    /* На другом снимке с обратной стороны надпись «На память сыну отдельного отряда разминирования»: – Это от нашего парторга Субботина. До войны он был учителем. Из деревянного ящика для снарядов сделал мне доску. Разлинеил ее углем и учил писать цифры, потом буквы. А потом он сшил книжечку из оберточной бумаги. Она была плотной и не разбухала при намокании. Субботин написал мне таблицу умножения и велел запоминать. Я приходил к нему и сдавал. А уже в конце войны смог на открытке, которую послал брату, сам написать: «На память от Васи, сына полка». Это была моя первая учеба на фронте. А уже после войны мы, трое сыновей полка, вместе пошли во второй класс. Сели за одну парту. На уроки приходили в военной форме с трофейными пистолетами. Поначалу немножко хулиганили, не подчинялись гражданским учителям, а как же – мы военные. На большой перемене построим всех мальчишек повзводно и гоняем их маршировать с песней: «Горит в сердцах у нас любовь к земле родимой». Как-то в туалете стрельнули из пистолета, за это нас забрали в военную часть, срезали по лычке и дали трое суток гауптвахты. */

    position: absolute;
    width: 1089px;
    height: 735px;
    top: 3200px;
    left: 200px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.txt31{
    /* На другом снимке с обратной стороны надпись «На память сыну отдельного отряда разминирования»: – Это от нашего парторга Субботина. До войны он был учителем. Из деревянного ящика для снарядов сделал мне доску. Разлинеил ее углем и учил писать цифры, потом буквы. А потом он сшил книжечку из оберточной бумаги. Она была плотной и не разбухала при намокании. Субботин написал мне таблицу умножения и велел запоминать. Я приходил к нему и сдавал. А уже в конце войны смог на открытке, которую послал брату, сам написать: «На память от Васи, сына полка». Это была моя первая учеба на фронте. А уже после войны мы, трое сыновей полка, вместе пошли во второй класс. Сели за одну парту. На уроки приходили в военной форме с трофейными пистолетами. Поначалу немножко хулиганили, не подчинялись гражданским учителям, а как же – мы военные. На большой перемене построим всех мальчишек повзводно и гоняем их маршировать с песней: «Горит в сердцах у нас любовь к земле родимой». Как-то в туалете стрельнули из пистолета, за это нас забрали в военную часть, срезали по лычке и дали трое суток гауптвахты. */

    position: absolute;
    width: 1089px;
    height: 735px;
    top: 3300px;
    left: 200px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.txt32{
    position: absolute;
    width: 1089px;
    height: 735px;
    top: 3430px;
    left: 200px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;
}
.txt33{
    position: absolute;
    width: 1089px;
    height: 735px;
    top: 3600px;
    left: 200px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;
}
.ded3{
    /* ф 1 */

    position: absolute;
    width: 800px;
    height: 600px;
    top: 3950px;



}
.txt34{
    /* Смерть на парашютиках */

    position: absolute;
    width: 582px;
    height: 59px;
    top: 4650px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
    /* identical to box height */
    text-align: justify;

    color: #000000;
}
.txt35{
    /* Пока шла операция «Багратион», Василий Алексеевич в составе III Белорусского фронта с отрядом разминирования прошел Минск, Витебск, Тильзит, Шяуляй, Рагнид, Лазденин, Гумбинен. – В Литве попали на минное поле, где мины находились в деревянных и пластмассовых футлярах. На них не реагировали миноискатели. Поэтому поступил приказ мобилизовать собак крупных пород. На хуторе Таураге оказалась классная овчарка, широкая грудь, чистейшая немецкая порода, высокая. Тетка не хотела отдавать. Кричит: «Забирайте корову, коня, только не Арса». Капитана к себе овчарка не подпускала. Вставала на дыбы, рычала. Тогда я подошел к будке с куском сахара. Собака завиляла хвостом, зашла за будку и слизнула сахар. Капитан кричит: «Карабин!» Я защелкнул карабин, который был на веревке, за ошейником. Арс как рванет! И поволок меня за собой. Тут подбегает капитан. Накинул на овчарку ватовку, закрутил ремешок вокруг морды, так мы ее повели в часть. Вместе со старшиной Астаховым учили Арса командам. Потом натаскивали на мины. Под Кенигсбергом нам пришлось разминировать ночью. Вражеский самолет пролетел над полем и сбросил на нас светящиеся ракеты, которые медленно спускались на парашютиках. Стало светло, как днем, и фашисты начали бить по нам из минометов. Был кошмар. Взрывались солдаты, собаки. Уцелело около 25 человек из целой роты. Я сидел на ступеньках землянки возле амбразуры, мина ударила прямо возле нее. Смертельную рану осколками получил адъютант капитана Иванкина Архипкин. Мне разорвало в двух местах левый сапог. Тяжело ранен был и Арс. После боя я спросил, где он. Мне показали. У него из шеи лилась кровь, а глаза были полные слез. Он меня увидел, хвостом немножко вильнул. И я заплакал. Это была наша последняя встреча. */

    position: absolute;
    width: 1096px;
    height: 1015px;
    top: 4750px;
    left: 200px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.txt36{
    position: absolute;
    width: 1096px;
    height: 1015px;
    top: 4900px;
    left: 200px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;
}
.txt37{
    position: absolute;
    width: 1096px;
    height: 1015px;
    top: 5170px;
    left: 200px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;
}
.txt38{
    position: absolute;
    width: 1096px;
    height: 1015px;
    top: 5450px;
    left: 200px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;
}
.txt40{
    /* Чего спишь, Васька? Победа! */

    position: absolute;
    width: 692px;
    height: 59px;
    top: 5870px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
    /* identical to box height */
    text-align: justify;

    color: #000000;
}
.txt41{
    /* – На Берлин наш отряд не должен был выдвигаться. Но через дорогу от нас базировался артиллерийский полк, который в составе I Белорусского фронта направлялся в Германию. Я втихаря спрятался в «Студебеккер» за ящиками от снарядов. Так и оказался в Берлине. Но меня нашли и отправили обратно в Кенигсберг. День Победы встречал там, в трехэтажном бюргерском «маентке». Смотрю, такая кровать стоит: широкая, мягкая, пуховая. Я как плюхнулся на нее и моментально уснул в сапогах. И вдруг ночью началась стрельба, как будто бой. В комнату влетает капитан и говорит: «Васька, чего спишь? Победа!» Я тоже схватил автомат и давай палить по окнам, мебели. Когда мы по ступенькам сбегали вниз, нас подхватывали и подбрасывали так, что когда поймают, а когда и нет. Одни плачут, другие смеются. Незабываемое зрелище! */

    position: absolute;
    width: 1089px;
    height: 455px;
    top: 5970px;
    left: 200px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.txt42{
    position: absolute;
    width: 1089px;
    height: 455px;
    top: 6230px;
    left: 200px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.stars{
    /* image 1 */

    position: absolute;
    width: 162px;
    height: 76px;
    top: 6480px;
}
.txt43{
    /* P.S.: После войны Василия Алексеевича усыновили. Вместе с новой семьей он переехал в Гродно. Там окончил школу и физмат педагогического института. Занялся волейболом. Был игроком, затем играющим тренером. Десять раз с юношескими командами выигрывал первенство республики. Шесть раз – с женскими командами. Возглавлял команду высшей лиги «Буревестник» (Минск) и молодежную сборную СССР. Воспитал олимпийских чемпионов и призеров, чемпионов Европы. Заслуженный тренер СССР и БССР. В настоящее время председатель Комиссии юных участников войны («Батальон белорусских орлят») и заместитель председателя Республиканского комитета ветеранов войны. */

    position: absolute;
    width: 1089px;
    height: 350px;
    top: 6600px;
    left: 200px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}