.var{
    /* Rectangle 3 */

    position: absolute;
    width: 100%;
    height: 683px;
    left: 0px;
    top: 0px;

    background: rgba(47, 47, 47, 0.69);

}
.txt{
    /* Дети на войне */

    position: absolute;
    width: 475px;
    height: 55px;
    left: 23px;
    top: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 50px;
    line-height: 61px;
    text-transform: uppercase;

    color: #FFFFFF;
}
.txt1{
    /* До сих пор слышу крики из горящего сарая */

    position: absolute;
    width: 1205px;
    height: 170px;
    left: 118px;
    top: 298px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 85px;
    text-align: center;
    text-transform: uppercase;

    color: #FCFCFC;


}
.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.txt2{
    /* По ступенькам сбегали вниз, нас подхватывали и подбрасывали так, что когда поймают, а когда и нет */

    position: absolute;
    width: 1125px;
    height: 58px;
    left: 38px;
    top: 544px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;

    color: rgba(255, 255, 255, 0.5);
}
.txt10{
    /* В четыре года Полина стала узницей лагеря смерти «Саласпилс». Здесь не делали скидку на возраст. Детей использовали как подопытных кроликов при проведении медицинских экспериментов. Донорами крови для фашистских солдат становились даже младенцы. Маленькая Полина выжила. Но она еще не знала, что за «Саласпилсом» последуют новые испытания. –Наша семья жила в деревне Медведи Дриссенского района, теперь это Верхне-двинский район. Родители работали в колхозе, папа был бригадиром, – вспоминает Полина Александровна Кособуцкая, в девичестве Гендик. – Когда началась война, отца забрали на фронт. В 1943 году он заболел тифом и его отправили домой. */

    position: absolute;
    width: 620px;
    height: 627px;
    left: 140px;
    top: 760px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.txt11{
    /* В четыре года Полина стала узницей лагеря смерти «Саласпилс». Здесь не делали скидку на возраст. Детей использовали как подопытных кроликов при проведении медицинских экспериментов. Донорами крови для фашистских солдат становились даже младенцы. Маленькая Полина выжила. Но она еще не знала, что за «Саласпилсом» последуют новые испытания. –Наша семья жила в деревне Медведи Дриссенского района, теперь это Верхне-двинский район. Родители работали в колхозе, папа был бригадиром, – вспоминает Полина Александровна Кособуцкая, в девичестве Гендик. – Когда началась война, отца забрали на фронт. В 1943 году он заболел тифом и его отправили домой. */

    position: absolute;
    width: 620px;
    height: 627px;
    left: 140px;
    top: 1100px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.grandma{

    position: absolute;
    width: 473px;
    height: 552px;
    left: 860px;
    top: 770px;
}
.txt12{
    /* –Наша семья жила в деревне Медведи Дриссенского района, теперь это Верхне-двинский район. Родители работали в колхозе, папа был бригадиром, – вспоминает Полина Александровна Кособуцкая, в девичестве Гендик. – Когда началась война, отца забрали на фронт. В 1943 году он заболел тифом и его отправили домой. В округе действовали партизанские бригады, и озверевшие оккупанты мстили мирным жителям. В марте 1943-го в Медведи нагрянули каратели. Стариков и инвалидов согнали в сарай и подожгли. В огне погиб мой дядя – участник финской войны. У него не было ноги. Остальных погнали в Дриссу, а затем в товарном составе с крохотными зарешеченными окошками отправили в Ригу. Людей в вагоне было много, приходилось ехать стоя. Когда поезд тронулся, все прильнули к щелям – смотрели, куда нас везут. Многие плакали. Я прижалась к маме и молчала. Нас привезли в Саласпилс, расположенный в 17 километрах от Риги. Всех раздели. Помещение было очень большое, пол цементный. Облили холодной водой, надели робы и отправили в лагерь. Женщинам отрезали волосы. У мамы была длинная коса. Взрослые каждый день ходили на работу. Дети сидели в отдельных бараках. Старшие присматривали за младшими. Многие еще не умели ходить, поэтому ползали по нарам – трехъярусным кроватям, застеленным соломой. На обед – суп из капусты, в котором плавали черви. Вместе со мной и родным братом Владимиром, который старше меня на два года, в саласпилсском лагере оказался и двоюродный брат Федор. Его отец погиб на фронте, а мама умерла. */

    position: absolute;
    width: 1193px;
    height: 840px;
    left: 140px;
    top: 1564px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.txt13{
    /* –Наша семья жила в деревне Медведи Дриссенского района, теперь это Верхне-двинский район. Родители работали в колхозе, папа был бригадиром, – вспоминает Полина Александровна Кособуцкая, в девичестве Гендик. – Когда началась война, отца забрали на фронт. В 1943 году он заболел тифом и его отправили домой. В округе действовали партизанские бригады, и озверевшие оккупанты мстили мирным жителям. В марте 1943-го в Медведи нагрянули каратели. Стариков и инвалидов согнали в сарай и подожгли. В огне погиб мой дядя – участник финской войны. У него не было ноги. Остальных погнали в Дриссу, а затем в товарном составе с крохотными зарешеченными окошками отправили в Ригу. Людей в вагоне было много, приходилось ехать стоя. Когда поезд тронулся, все прильнули к щелям – смотрели, куда нас везут. Многие плакали. Я прижалась к маме и молчала. Нас привезли в Саласпилс, расположенный в 17 километрах от Риги. Всех раздели. Помещение было очень большое, пол цементный. Облили холодной водой, надели робы и отправили в лагерь. Женщинам отрезали волосы. У мамы была длинная коса. Взрослые каждый день ходили на работу. Дети сидели в отдельных бараках. Старшие присматривали за младшими. Многие еще не умели ходить, поэтому ползали по нарам – трехъярусным кроватям, застеленным соломой. На обед – суп из капусты, в котором плавали черви. Вместе со мной и родным братом Владимиром, который старше меня на два года, в саласпилсском лагере оказался и двоюродный брат Федор. Его отец погиб на фронте, а мама умерла. */

    position: absolute;
    width: 1193px;
    height: 840px;
    left: 140px;
    top: 1764px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.txt14{
    /* –Наша семья жила в деревне Медведи Дриссенского района, теперь это Верхне-двинский район. Родители работали в колхозе, папа был бригадиром, – вспоминает Полина Александровна Кособуцкая, в девичестве Гендик. – Когда началась война, отца забрали на фронт. В 1943 году он заболел тифом и его отправили домой. В округе действовали партизанские бригады, и озверевшие оккупанты мстили мирным жителям. В марте 1943-го в Медведи нагрянули каратели. Стариков и инвалидов согнали в сарай и подожгли. В огне погиб мой дядя – участник финской войны. У него не было ноги. Остальных погнали в Дриссу, а затем в товарном составе с крохотными зарешеченными окошками отправили в Ригу. Людей в вагоне было много, приходилось ехать стоя. Когда поезд тронулся, все прильнули к щелям – смотрели, куда нас везут. Многие плакали. Я прижалась к маме и молчала. Нас привезли в Саласпилс, расположенный в 17 километрах от Риги. Всех раздели. Помещение было очень большое, пол цементный. Облили холодной водой, надели робы и отправили в лагерь. Женщинам отрезали волосы. У мамы была длинная коса. Взрослые каждый день ходили на работу. Дети сидели в отдельных бараках. Старшие присматривали за младшими. Многие еще не умели ходить, поэтому ползали по нарам – трехъярусным кроватям, застеленным соломой. На обед – суп из капусты, в котором плавали черви. Вместе со мной и родным братом Владимиром, который старше меня на два года, в саласпилсском лагере оказался и двоюродный брат Федор. Его отец погиб на фронте, а мама умерла. */

    position: absolute;
    width: 1193px;
    height: 840px;
    left: 140px;
    top: 1934px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.txt15{
    /* –Наша семья жила в деревне Медведи Дриссенского района, теперь это Верхне-двинский район. Родители работали в колхозе, папа был бригадиром, – вспоминает Полина Александровна Кособуцкая, в девичестве Гендик. – Когда началась война, отца забрали на фронт. В 1943 году он заболел тифом и его отправили домой. В округе действовали партизанские бригады, и озверевшие оккупанты мстили мирным жителям. В марте 1943-го в Медведи нагрянули каратели. Стариков и инвалидов согнали в сарай и подожгли. В огне погиб мой дядя – участник финской войны. У него не было ноги. Остальных погнали в Дриссу, а затем в товарном составе с крохотными зарешеченными окошками отправили в Ригу. Людей в вагоне было много, приходилось ехать стоя. Когда поезд тронулся, все прильнули к щелям – смотрели, куда нас везут. Многие плакали. Я прижалась к маме и молчала. Нас привезли в Саласпилс, расположенный в 17 километрах от Риги. Всех раздели. Помещение было очень большое, пол цементный. Облили холодной водой, надели робы и отправили в лагерь. Женщинам отрезали волосы. У мамы была длинная коса. Взрослые каждый день ходили на работу. Дети сидели в отдельных бараках. Старшие присматривали за младшими. Многие еще не умели ходить, поэтому ползали по нарам – трехъярусным кроватям, застеленным соломой. На обед – суп из капусты, в котором плавали черви. Вместе со мной и родным братом Владимиром, который старше меня на два года, в саласпилсском лагере оказался и двоюродный брат Федор. Его отец погиб на фронте, а мама умерла. */

    position: absolute;
    width: 1193px;
    height: 840px;
    left: 140px;
    top: 2134px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;
}
.boys{
    /* Untitled-4 1 */

    position: absolute;
    width: 573px;
    height: 412px;
    left: 265px;
    top: 2477px;


}
.txt16{
    /* Провожать Полину (вторая слева) на учебу в мединститут пришла вся семья. 1959 год */

    position: absolute;
    width: 334px;
    height: 140px;
    left: 904px;
    top: 2613px;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 200;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: rgba(0, 0, 0, 0.5);


}
.txt17{
    /* Иногда нас забирали на процедуры. Кровь отправляли в госпитали, где лечили фашистских солдат. Никаких усиленных пайков для восстановления сил не было. Ребят покрепче отдавали на усыновление. Причем приемным родителям говорили: дети – сироты. Моего брата забрал немец по фамилии Конрад. У него был двух-этажный особняк в Риге. Володе купили шикарный по тогдашним меркам костюм, часы, отправили учиться в школу. А когда приемный отец узнал, что наши родители живы, приехал к ним за разрешением на усыновление. Такого разрешения не получил, но по-прежнему заботился о Володе как о родном. А когда Конрад засобирался в Германию, привез брата в Саласпилс и вернул родителям. */

    position: absolute;
    width: 1192px;
    height: 315px;
    top: 3000px;
    left: 140px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;
}
.stars{
    /* image 1 */

    position: absolute;
    width: 162px;
    height: 76px;
    left: 679px;
    top: 3347px;


}
.txt18{
    /* Через пару месяцев нашу семью отправили сначала в концлагерь «Юнфрево», а затем в концлагерь «Бешесофин» в Австрии. Родители работали на железной дороге. Я была совсем измождена. Не могла ни ходить, ни сидеть. Началось двустороннее воспаление легких. Выходили меня монахини какого-то монастыря. Я лежала, а они ставили на кровать специальную подставку для тарелки и кормили с ложечки. Заново в мои почти шесть лет пришлось учиться ходить. Освободили нас американцы в мае 1945 года. Они раздавали узникам соевую муку, яичный порошок, а детям конфеты – леденцы в трубочке. Три месяца, в ожидании отправки домой, пришлось жить на улице, просить милостыню. Везли нас на пароходе. У меня сильно кружилась голова, постоянно тошнило. Вместе с нами с фронта возвращались советские солдаты. Они подарили брату мандолину, а я для них танцевала. Ожила. */

    position: absolute;
    width: 1192px;
    height: 525px;
    top: 3450px;
    left: 140px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.txt19{
    position: absolute;
    width: 1192px;
    height: 525px;
    top: 3600px;
    left: 140px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;
}
.txt20{
    position: absolute;
    width: 1192px;
    height: 525px;
    top: 3750px;
    left: 140px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;
}
.students{
    /* цц 1 */

    position: absolute;
    width: 573px;
    height: 412px;
    left: 265px;
    top: 4030px;


}
.students2{
    position: absolute;
    width: 445px;
    height: 70px;
    top: 4230px;
    left: 950px;

    font-family: 'Roboto';
    font-style: italic;
    font-weight: 200;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: rgba(0, 0, 0, 0.5);
}
.txt21{
    /* Вместе с братом и мамой остановились у родственников в Латвии. Папа уехал в Одессу – восстанавливать заводы. Однажды ночью пришли бандиты. Уложили взрослых на пол и хотели расстрелять. Мы плакали и просили не делать этого. Тогда визитеры разломали ухваты, которые стояли у печки, и стали ими избивать, дедушке сломали ногу, бабушке – руку. Потом ушли, предупредив, что следующий раз расстреляют всех. Наутро сосед на лошади отвез нас в Белоруссию. Поселились у родственников в деревне Стаклы Верхнедвинского района. В доме народа много, продуктов и одежды у нас не было. Собирали мерзлую картошку на поле, летом варили щавель, крапиву. Заедали вши. Чтобы избавится от насекомых, мама где-то нашла каустическую соду, кости павших животных и сварила мыло. Вместо мочалки использовали огуречник – длинные тягучие стебли вымачивали и теребили, как лен. Ближайшая школа – в Бигосово, за четыре километра. Тетрадей не было, мама покупала их на рынке или выменивала на что-либо. Вместо ручек – перья, вместо чернил – свекольный сок. Позже появились чернила в стеклянных бутылочках и чернильницы-невыливайки. На пути в школу – лес и глубокий овраг. Зимой старшие ребята тащили меня за руки по сугробам. А однажды шла одна, выбилась из сил и стала замерзать. Еле живую меня нашли местные жительницы, которые ехали на лошади. Привезли в первый с краю деревенский дом, согрели, напоили чаем. */

    position: absolute;
    width: 1199px;
    height: 840px;
    left: 140px;
    top: 4550px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.txt22{
    position: absolute;
    width: 1199px;
    height: 840px;
    left: 140px;
    top: 4980px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;
}
.txt23{
    position: absolute;
    width: 1199px;
    height: 840px;
    left: 140px;
    top: 5080px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;
}
.txt24{
    position: absolute;
    width: 1199px;
    height: 840px;
    left: 140px;
    top: 5180px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;
}
.txt25{
    /* Отец нашел меня лишь в 1944-м */

    position: absolute;
    width: 772px;
    height: 59px;
    left: 334px;
    top: 5400px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 59px;
    /* identical to box height */
    text-align: justify;

    color: #000000;


}
.txt26{
    /* Мы не разлучались до конца войны. Командиры долго не рассказывали ему, что его семьи больше нет, а дочь осталась сиротой. Они боялись, что папа не выдержит такой удар. Но мысль, что я жива, помогла ему справиться с душераздирающей болью. Войну он закончил в должности инструктора-парторганизатора по Червенской партизанской зоне. Мы поселились в комнатке в Минске, на Горького, в бараке, который фашисты построили для рабочих. В кухоньке было не повернуться, но после лесных убежищ она казалась просторной. Город был разрушен, на улице Советской (нынешний проспект Независимости. – Прим. «ЗН») уцелели только Дом Правительства, здание электростанции возле Свислочи, корпус 1-й клинической больницы, Академия наук и Дом печати. Возле заводов имени Кирова и Ворошилова на свободном участке земли соорудили трибуну: 16 июля 1944 здесь проходил парад Минского партизанского соединения. На площади собрались тысячи минчан с цветами. Дети и молодежь взбирались на крыши бараков, чтобы лучше видеть колонны партизан. В них шли и мы с отцом. */

    position: absolute;
    width: 1206px;
    height: 595px;
    left: 140px;
    top: 5537px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.txt27{
    /* Мы не разлучались до конца войны. Командиры долго не рассказывали ему, что его семьи больше нет, а дочь осталась сиротой. Они боялись, что папа не выдержит такой удар. Но мысль, что я жива, помогла ему справиться с душераздирающей болью. Войну он закончил в должности инструктора-парторганизатора по Червенской партизанской зоне. Мы поселились в комнатке в Минске, на Горького, в бараке, который фашисты построили для рабочих. В кухоньке было не повернуться, но после лесных убежищ она казалась просторной. Город был разрушен, на улице Советской (нынешний проспект Независимости. – Прим. «ЗН») уцелели только Дом Правительства, здание электростанции возле Свислочи, корпус 1-й клинической больницы, Академия наук и Дом печати. Возле заводов имени Кирова и Ворошилова на свободном участке земли соорудили трибуну: 16 июля 1944 здесь проходил парад Минского партизанского соединения. На площади собрались тысячи минчан с цветами. Дети и молодежь взбирались на крыши бараков, чтобы лучше видеть колонны партизан. В них шли и мы с отцом. */

    position: absolute;
    width: 1206px;
    height: 200px;
    left: 140px;
    top: 5700px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.txt28{
    /* Мы не разлучались до конца войны. Командиры долго не рассказывали ему, что его семьи больше нет, а дочь осталась сиротой. Они боялись, что папа не выдержит такой удар. Но мысль, что я жива, помогла ему справиться с душераздирающей болью. Войну он закончил в должности инструктора-парторганизатора по Червенской партизанской зоне. Мы поселились в комнатке в Минске, на Горького, в бараке, который фашисты построили для рабочих. В кухоньке было не повернуться, но после лесных убежищ она казалась просторной. Город был разрушен, на улице Советской (нынешний проспект Независимости. – Прим. «ЗН») уцелели только Дом Правительства, здание электростанции возле Свислочи, корпус 1-й клинической больницы, Академия наук и Дом печати. Возле заводов имени Кирова и Ворошилова на свободном участке земли соорудили трибуну: 16 июля 1944 здесь проходил парад Минского партизанского соединения. На площади собрались тысячи минчан с цветами. Дети и молодежь взбирались на крыши бараков, чтобы лучше видеть колонны партизан. В них шли и мы с отцом. */

    position: absolute;
    width: 1206px;
    height: 200px;
    left: 140px;
    top: 5900px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
    text-align: justify;

    color: #000000;


}
.video3{
    position: absolute;
    left: 200px;
    top: 6500px;
}